/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body { padding-top:50px; }

.btn { margin-bottom:20px; }

.container.outer {
  background-color: #D9ECF7!important;
  border-radius: 0px!important;
}

.rows {
  border: #3398B7 solid thin;
  border-radius: 0.4em;
}


.col-md-3 .panel.panel-default {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3398B7!important;
  border-radius: 1.4em!important;
}

.col-md-3 .panel-heading {
  background-color: #3398B7!important;
  border-bottom: 0px!important;
  border-top-left-radius: 1.4em;
  border-top-right-radius: 1.4em;
}

.vh-panel.panel-body {
  padding-bottom: 0px!important;
  background-color: #D9ECF7!important;
  border-left: #3398B7 solid !important;
  border-bottom: #3398B7 solid !important;
  border-right: #3398B7 solid;
  border-radius: 0 0 .4em .4em;
  -webkit-border-radius: 0 0 1.4em 1.4em;
}

 h4.vh-head {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.msg {
  border-bottom: #3398B7 solid !important;
  padding-bottom: 15px;
}

.msg .head {
  text-align: center;
}

.row.gd {
  margin-left: 0px;
  margin-right: 0px;
}

.row.gd .col-md-4 {
  text-align:center;
}


.clear-rightb {
    background-color: transparent!important;
    border-right: none!important;
}

.has-rightb {
    border-right: #3398B7 solid !important;
}

.vh-last {
  border-right-color: #D9ECF7!important;
  border-right-width: 0px!important;
  vertical-align: middle!important;
  margin-top: 8%;
}

.glyphicon.glyphicon-camera {
  float: right;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
